{% load tours_tags %}
{% get_departur as departure_shapka %}
<header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'main' %}">Stepik Travel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for item in departure_shapka %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.get_absolute_url }}"
                    >{{ item.ru_departure|title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>